<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Content/CSS/main.css.map" type="text/css">
    <link rel="stylesheet" href="/Content/CSS/main.css" type="text/css">
    <script src="../../Content/js/jquery-3.2.1.js"></script>
    <script src="../../Content/js/scripts.js"></script>
    <title>Fund Space</title>
  </head>
  <body>
    @RenderBody()
  </body>
</html>
