<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css" media="screen" type="text/css">
    <title></title>
  </head>
  <body>
    <header>

    <nav>
      <ul id="navLeft">
        <li><a href="#search">Search</a></li>
        <li><a href="campaigns.html">Campaigns</a></li>
      </ul>
      <div>
        <a href="index.html"><img src="img/logo.png" class="logo" alt="logo"></a>
      </div>
      <ul id="navRight">
        <li><a href="#how">How it works</a></li>
        <li><a href="createCampaign.html">Create Campaign</a></li>
        <li><a href="signUp.html">Log-In/Sign-Up</a></li>
      </ul>
    </nav>
    <div class="hamburger" id="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>


    </header>

    <section>

    </section>

    <footer>
      <div class="footer-text">
        <a href="index.html"><img src="img/logo.png" class="logo" alt="logo"></a>
      </div>
      <ul id="navFooter">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Tumblr</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Pinterest</a></li>
        <li><a href="#">YouTube</a></li>
      </ul>


    </footer>
  </body>
</html>
