<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css" media="screen" type="text/css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/scripts.js"></script>
    <title>Fund Space</title>
  </head>
  <body>
    <header>
      <nav>
        <ul id="navLeft">
          <li><a href="#search">Search</a></li>
          <li><a href="campaigns.html">Campaigns</a></li>
        </ul>
        <div>
          <a href="index.html"><img src="img/logo.png" class="logo" alt="logo"></a>
        </div>
        <ul id="navRight">
          <li><a href="#how">How it works</a></li>
          <li><a href="createCampaign.html">Create Campaign</a></li>
          <li><a href="signUp.html">Log-In/Sign-Up</a></li>
        </ul>
      </nav>
      <div class="hamburger" id="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
      <div class="hero">
      </div>
    </header>

    <section>

    </section>

    <footer>
      <div class="footerLogo">
        <a href="index.html"><img src="img/logo.png" class="logo" alt="logo"></a>
      </div>
      <ul id="navFooter">
        <li><a href="#"><img src="img/twitter.png" alt="" /></a></li>
        <li><a href="#"><img src="img/facebook.png" alt="" /></a></li>
        <li><a href="#"><img src="img/tumblr.png" alt="" /></a></li>
        <li><a href="#"><img src="img/instagram.png" alt="" /></a></li>
        <li><a href="#"><img src="img/pinterest.png" alt="" /></a></li>
        <li><a href="#"><img src="img/youtube.png" alt="" /></a></li>
        <li><a href="#"><img src="img/github.png" alt="" /></a></li>
      </ul>
    </footer>
  </body>
</html>
