<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Content/CSS/main.css" type="text/css">
    <script src="../../Content/js/jquery-3.2.1.js"></script>
    <script src="../../Content/js/scripts.js"></script>
    <title>Fund Space - Home</title>
  </head>
  <body>
    <header>
      <nav>
        <ul id="navLeft">
          <li><a href="#search">Search</a></li>
          <li><a href="campaigns.html">Campaigns</a></li>
        </ul>
        <div>
          <a href="index.html"><img src="../../Content/img/logo.png" class="logo" alt="logo"></a>
        </div>
        <ul id="navRight">
          <li><a href="#how">How it works</a></li>
          <li><a href="createCampaign.html">Create Campaign</a></li>
          <li><a href="signUp.html">Log-In/Sign-Up</a></li>
        </ul>
        <div class="menuToggle">
          <a href="#menu" id="toggle"><span></span></a>
          <div id="menu">
            <ul>
              <li><a href="#">Search</a></li>
              <li><a href="#">Campaigns</a></li>
              <li><a href="#">How it works</a></li>
              <li><a href="#">Create campaign</a></li>
              <li><a href="#">Log-in/Sign-Up</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- <div class="hamburger" id="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div> -->
    </header>

<!-- COPY & PASTE BELOW TEXT INTO Views/index.cshtml -->


<div class="hero">
</div>
<section>
  <div class="categories">
    <ul>
      <li>
        <div><a href="#"><img src="../../Content/img/all.png" alt=""/></a></div>
        <h4>All</h4>
      </li>
      <li>
        <div><a href="#"><img src="../../Content/img/animals.png" alt=""/></a></div>
        <h4>Animals</h4></li>
      <li>
        <div><a href="#"><img src="../../Content/img/art.png" alt=""/></a></div>
        <h4>Art</h4></li>
      <li>
        <div><a href="#"><img src="../../Content/img/charity.png" alt=""/></a></div>
        <h4>Charity</h4></li>
      <li>
        <div><a href="#"><img src="../../Content/img/education.png" alt=""/></a></div>
        <h4>Education</h4></li>
      <li>
        <div><a href="#"><img src="../../Content/img/emergencies.png" alt=""/></a></div>
        <h4>Emergencies</h4></li>
      <li>
        <div><a href="#"><img src="../../Content/img/medical.png" alt=""/></a></div>
        <h4>Medical</h4></li>
    </ul>
  </div>
  <h2>Discover these great causes</h2>
  <div class="cards">
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
  </div>
</section>

<!-- COPY & PASTE ABOVE TEXT INTO Views/index.cshtml -->


<footer>
  <div class="footerLogo">
    <a href="index.html"><img src="../../Content/img/logo.png" class="logo" alt="logo"></a>
  </div>
  <ul id="navFooter">
    <li><a href="#"><img src="../../Content/img/twitter.png" alt="" /></a></li>
    <li><a href="#"><img src="../../Content/img/facebook.png" alt="" /></a></li>
    <!-- <li><a href="#"><img src="../../Content/img/tumblr.png" alt="" /></a></li> -->
    <li><a href="#"><img src="../../Content/img/instagram.png" alt="" /></a></li>
    <li><a href="#"><img src="../../Content/img/pinterest.png" alt="" /></a></li>
    <li><a href="#"><img src="../../Content/img/youtube.png" alt="" /></a></li>
    <li><a href="#"><img src="../../Content/img/github.png" alt="" /></a></li>
  </ul>
</footer>
</body>
</html>
