@{
  Layout="Shared/_Layout.cshtml";
}
<section>
  <div class="categories">
    <ul>
      <li>
        <div><a href="#"><img src="../Content/img/all.png" alt=""/></a></div>
        <h4>All</h4>
      </li>
      <li>
        <div><a href="#"><img src="../Content/img/animals.png" alt=""/></a></div>
        <h4>Animals</h4></li>
      <li>
        <div><a href="#"><img src="../Content/img/art.png" alt=""/></a></div>
        <h4>Art</h4></li>
      <li>
        <div><a href="#"><img src="../Content/img/charity.png" alt=""/></a></div>
        <h4>Charity</h4></li>
      <li>
        <div><a href="#"><img src="../Content/img/education.png" alt=""/></a></div>
        <h4>Education</h4></li>
      <li>
        <div><a href="#"><img src="../Content/img/emergencies.png" alt=""/></a></div>
        <h4>Emergencies</h4></li>
      <li>
        <div><a href="#"><img src="../Content/img/medical.png" alt=""/></a></div>
        <h4>Medical</h4></li>
    </ul>
  </div>
  <div class="cards">
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="card">
      <div class="cardImage">
        <img src="#" alt="" />
      </div>
      <div class="cardText">
        <h3>title title title</h3>
        <h3>Goal: $$$</h3>
        <h3>by: NAME NAME</h3>
      </div>
      <button type="button" name="button">Read More</button>
    </div>
    <div class="cards">
      <div class="card">
        <div class="cardImage">
          <img src="#" alt="" />
        </div>
        <div class="cardText">
          <h3>title title title</h3>
          <h3>Goal: $$$</h3>
          <h3>by: NAME NAME</h3>
        </div>
        <button type="button" name="button">Read More</button>
      </div>
      <div class="card">
        <div class="cardImage">
          <img src="#" alt="" />
        </div>
        <div class="cardText">
          <h3>title title title</h3>
          <h3>Goal: $$$</h3>
          <h3>by: NAME NAME</h3>
        </div>
        <button type="button" name="button">Read More</button>
      </div>
      <div class="card">
        <div class="cardImage">
          <img src="#" alt="" />
        </div>
        <div class="cardText">
          <h3>title title title</h3>
          <h3>Goal: $$$</h3>
          <h3>by: NAME NAME</h3>
        </div>
        <button type="button" name="button">Read More</button>
      </div>
      <div class="card">
        <div class="cardImage">
          <img src="#" alt="" />
        </div>
        <div class="cardText">
          <h3>title title title</h3>
          <h3>Goal: $$$</h3>
          <h3>by: NAME NAME</h3>
        </div>
        <button type="button" name="button">Read More</button>
      </div>
      <div class="card">
        <div class="cardImage">
          <img src="#" alt="" />
        </div>
        <div class="cardText">
          <h3>title title title</h3>
          <h3>Goal: $$$</h3>
          <h3>by: NAME NAME</h3>
        </div>
        <button type="button" name="button">Read More</button>
      </div>
      <div class="card">
        <div class="cardImage">
          <img src="#" alt="" />
        </div>
        <div class="cardText">
          <h3>title title title</h3>
          <h3>Goal: $$$</h3>
          <h3>by: NAME NAME</h3>
        </div>
        <button type="button" name="button">Read More</button>
      </div>
    </div>
  </div>
</section>
