@{
  Layout="Shared/_Layout.cshtml";
}
<section class="createCampaignContainer">
  <!-- if not loged in... take to log-in form -->
  <form id="new-campaign" method="post">
    <h2>Start a new campaign!</h2>
    <label for="category"> Choose category:
      @foreach(var category in @Model)
      {
        <input type="radio" name="category" value="@category.Id"> @category.Name
      }
      <!-- <input type="radio" name="category" value="all"> Undefined  //?! -->
    </label><br>

    <label for="name">Title:
      <input type="text" name="name" placeholder="Campaign Title">
    </label><br>
    <label for="description">Tell us what the campaign is about:
      <textarea name="description" rows="10" cols="30" placeholder="Tell us the story..."></textarea><br>
    </label><br>

    <label for="goal">How much money do the cause need?
      <input type="number" name="goal" min="1" max="1000000" placeholder="How much money does the cause need?">
    </label>
    <label for="start-date">When will the campaign start:<br>
      <input type="date" name="start-date">
    </label>
    <label for="end-date">What is the deadline:<br>
      <input type="date" name="end-date">
    </label>
    <button type="submit" name="submit-campaign">Submit!</button>
  </form>
</section>
