@{
  Layout = "Shared/_Layout.cshtml";
}




<section>
  <div class="logInWrapper">
    <div id="logIn">
      <h2>Sign In</h2>
      <form action="/home" method="get">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" name="username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="text" name="password" required>
        </div>
        <button type="submit" name="button">Sign in</button>
      </form>
    </div>
    <div id="signUp">
      <h2>New profile</h2>
      <form action="/" method="post">
        <div class="form-group">
          <label>Full Name</label>
          <input class="form-control" type="text" name="name" required>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" name="username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="text" name="password" required>
        </div>
        <div class="form-group">
          <label>Address</label>
          <input class="form-control" type="text" name="address" required>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input class="form-control" type="text" name="phone-number" required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" name="email" required>
        </div>
        <button type="submit" name="button">Create!</button>
      </form>
    </div>
  </div>
</section>
