@{
  Layout="Shared/_Layout.cshtml";
}

<section class="myProfile">
  <h1>My Profile</h1>
  <div class="userTop">
    <div class="userInfo">
      <div class="userImage">
        <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg" alt="" />
      </div>
      <div class="userText">
        <label for="toggle-1">Edit</label>
        <input type="checkbox" id="toggle-1">
        <div class="currentUserInfo">
          <h2><span>Name: </span>Inputted Name</h2>
          <h2><span>UserName: </span>Inputted User Name</h2>
          <h2><span>Address: </span>Inputted Address</h2>
          <h2><span>Phone: </span>Inputted Phone</h2>
          <h2><span>Email: </span>Inputted Email</h2>
        </div>
        <form class="updateForm" action="/" method="post">
          <div class="form-group">
            <label>Full Name</label>
            <input class="form-control" type="text" name="name" required>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" name="username" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" name="password" required>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input class="form-control" type="text" name="address" required>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" type="text" name="phone-number" required>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="email" required>
          </div>
          <button type="submit" name="button">Update</button>
        </form>
        <!-- <button type="button" name="button">Edit</button> -->
      </div>
    </div>
    <div class="createButton">
      <a href="/campaign/new"><button type="button" name="button"><h2>Create<br>- a -<br>Campaign</h2></button></a>
    </div>
  </div>
  <div class="userBottom">
    <div class="myCampaigns">
      <h2>My Campaigns</h2>
      <div class="cards">
        <div class="card">
          <div class="cardImage">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-15.jpg" alt="" />
          </div>
          <div class="cardText">
            <h3>title title title</h3>
          </div>
          <div>
            <h3>Goal: $$$</h3>
          </div>
          <button type="button" name="button">Click to view, edit, or delete</button>
        </div>
        <div class="card">
          <div class="cardImage">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-15.jpg" alt="" />
          </div>
          <div class="cardText">
            <h3>title title title</h3>
          </div>
          <div>
            <h3>Goal: $$$</h3>
          </div>
          <button type="button" name="button">Click to view, edit, or delete</button>
        </div>
        <div class="card">
          <div class="cardImage">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-15.jpg" alt="" />
          </div>
          <div class="cardText">
            <h3>title title title</h3>
          </div>
          <div>
            <h3>Goal: $$$</h3>
          </div>
          <button type="button" name="button">Click to view, edit, or delete</button>
        </div>
        <div class="card">
          <div class="cardImage">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-15.jpg" alt="" />
          </div>
          <div class="cardText">
            <h3>title title title</h3>
          </div>
          <div>
            <h3>Goal: $$$</h3>
          </div>
          <button type="button" name="button">Click to view, edit, or delete</button>
        </div>
        <div class="card">
          <div class="cardImage">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-15.jpg" alt="" />
          </div>
          <div class="cardText">
            <h3>title title title</h3>
          </div>
          <div>
            <h3>Goal: $$$</h3>
          </div>
          <button type="button" name="button">Click to view, edit, or delete</button>
        </div>
        <div class="card">
          <div class="cardImage">
            <img src="http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-15.jpg" alt="" />
          </div>
          <div class="cardText">
            <h3>title title title</h3>
          </div>
          <div>
            <h3>Goal: $$$</h3>
          </div>
          <button type="button" name="button">Click to view, edit, or delete</button>
        </div>
      </div>
    </div>
    <div class="myDonations">
      <h2>My Donations</h2>
      <div class="userDonations">
        <div class="donationInfo">
          <div class="donationUserImage">
            <img src="#" alt="" />
          </div>
          <div class="donationText">
            <h2>Title of campaign</h2>
            <h2>$$$ Amount Donated</h2>
          </div>
        </div>
        <div class="donationInfo">
          <div class="donationUserImage">
            <img src="#" alt="" />
          </div>
          <div class="donationText">
            <h2>Title of campaign</h2>
            <h2>$$$ Amount Donated</h2>
          </div>
        </div>
        <div class="donationInfo">
          <div class="donationUserImage">
            <img src="#" alt="" />
          </div>
          <div class="donationText">
            <h2>Title of campaign</h2>
            <h2>$$$ Amount Donated</h2>
          </div>
        </div>
        <div class="donationInfo">
          <div class="donationUserImage">
            <img src="#" alt="" />
          </div>
          <div class="donationText">
            <h2>Title of campaign</h2>
            <h2>$$$ Amount Donated</h2>
          </div>
        </div>
        <div class="donationInfo">
          <div class="donationUserImage">
            <img src="#" alt="" />
          </div>
          <div class="donationText">
            <h2>Title of campaign</h2>
            <h2>$$$ Amount Donated</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
