nav
  background-color: transparent
  height: 100px
  width: 100%
  border: 1px solid black
  display: flex
  justify-content: space-between
  ul
    width: 35%
    list-style: none
    display: flex
    align-items: center
    li
      margin: 0 20px
      font-size: 20px
  #navLeft
    justify-content: flex-start
  #navRight
    justify-content: flex-end
  div
    z-index: 3
