nav
  background-color: transparent
  height: 100px
  width: 100%
  border: 1px solid black
  display: flex
  justify-content: space-between
  @include medium-bp
  ul
    width: 80%
    list-style: none
    display: flex
    align-items: center
    li
      margin: 0 20px
      font-size: 20px
  #navLeft
    justify-content: flex-start

  #navRight
    justify-content: flex-end

  #navRight,  #navLeft
    @include medium-bp
      display: none
  div
    z-index: 3

  .logo
    @include medium-bp
      height: 90px
