section
  min-height: 100%
  background-color: #f3efeb
  // background-color: #16afbd
  .userTop, .userBottom
    h2
      font-size: 25px
    border-top: 3px solid black
    border-bottom: 3px solid black
    .userInfo, .myCampaigns
      // border: 1px solid green
    .createButton, .myDonations
      // border: 1px solid red
    .userInfo, .createButton
    .userInfo
      background-color: #fff
      .userImage
        // flex-basis: 40%
        display: flex
        justify-content: center
        align-items: center
        // border: 1px solid blue
        img
          margin: 30px
          height: 400px
          width: 400px
      .userText
        // flex-basis: 60%
        display: flex
        flex-direction: column
        align-items: center
        padding: 60px 30px 30px
        // border: 1px solid pink
        .currentUserInfo
          visibility: visible
        .updateForm
          visibility: hidden
          height: 0

        input[type=checkbox]
          position: absolute
          top: -9999px
          left: -9999px
        > label
          @extend %buttons
          cursor: pointer
          height: 50px
          width: 300px
          padding-top: 17px

        >input[type=checkbox]:checked ~ .currentUserInfo
          visibility: hidden
          height: 0

        >input[type=checkbox]:checked ~ .updateForm
          visibility: visible
          height: auto
          button
            background-color: #16afbd
      @include large-bp
        display: flex
        .userImage
          flex-basis: 40%
        .userText
          flex-basis: 60%
    .createButton
      display: flex
      justify-content: center
      align-items: center
      button
        height: 300px
        width: 400px
        border: 2px solid black
        border-radius: 30px
        display: flex
        justify-content: center
        align-items: center
        h2
          padding: 30px 50px
          font-size: 56px
          font-family: josephin-semiBold
    .userDonations
      width: 90%
      margin: 30px auto
      padding: 20px
      // height: 800px
      background-color: #16afbd
      .donationInfo
        width: 400px
        height: 150px
        margin: 20px auto
        background-color: #fff
        display: flex
        .donationUserImage
          flex-basis: 30%
  .userTop
    @include xLarge-bp
      display: flex
      .userInfo
        flex-basis: 60%
        border: 1px solid green
      .createButton
        flex-basis: 40%
  .userBottom
    @include large-bp
      display: flex
      .myCampaigns
        flex-basis: 60%
      .myDonations
        flex-basis: 40%
.myProfile
  h1
    padding: 30px 50px
    font-size: 26px
    font-family: josephin-semiBold
