section
  min-height: 100%
  background-color: #f3efeb
  // background-color: #16afbd
  .userTop
    border-top: 3px solid black
  .userTop, .userBottom
    h2
      font-size: 25px
    // border-bottom: 3px solid black

    // .userInfo, .myCampaigns
    //   // border: 1px solid green
    // .createButton, .myDonations
      // border: 1px solid red
    // .userInfo, .createButton
    .userInfo
      background-color: #fff
      .userImage
        // flex-basis: 40%
        display: flex
        justify-content: center
        align-items: center
        // border: 1px solid blue
        img
          margin: 20px
          height: 400px
          width: 400px
      .userText
        // flex-basis: 60%
        display: flex
        flex-direction: column
        align-items: center
        padding: 30px 30px 30px
        // border: 1px solid pink
        .currentUserInfo
          visibility: visible
        .updateForm
          visibility: hidden
          height: 0

        input[type=checkbox]
          position: absolute
          top: -9999px
          left: -9999px
        > label
          margin: 0 auto
          @extend %buttons
          cursor: pointer
          height: 50px
          width: 300px
          padding-top: 17px

        >input[type=checkbox]:checked ~ .currentUserInfo
          visibility: hidden
          height: 0

        >input[type=checkbox]:checked ~ .updateForm
          visibility: visible
          height: auto
          button
            background-color: #16afbd
      @include large-bp
        display: flex
        .userImage
          flex-basis: 40%
        .userText
          flex-basis: 60%
    .createButton
      display: flex
      justify-content: center
      align-items: center
      background-color: #16afbd
      height: 320px
      button
        @extend %buttons
        height: 250px
        width: 400px
        // border: 2px solid black
        // border-radius: 30px
        display: flex
        justify-content: center
        align-items: center
        h2
          color: white
          padding: 30px 50px
          font-size: 56px
          font-family: josephin-semiBold
      @include medium-bp
        height: inherit
    .userDonations
      width: 90%
      margin: 30px auto
      padding: 20px
      // height: 800px
      background-color: #16afbd
      .donationInfo
        min-width: 300px
        max-width: 450px
        height: 100px
        margin: 20px auto
        background-color: #fff
        display: flex
        h2
          font-size: 18px
          padding-top: 10px
        .donationUserImage
          flex-basis: 30%
          img
            width: 85px
            height: 85px
  .userTop
    @include xLarge-bp
      display: flex
      .userInfo
        flex-basis: 60%
        border: 1px solid green
      .createButton
        flex-basis: 40%
  .userBottom
    // @include medium-bp
    //   display: flex
    //   .myCampaigns
    //     flex-basis: 60%
    //   .myDonations
    //     flex-basis: 40%
    // @include large-bp
    //   display: flex
    //   .myCampaigns
    //     flex-basis: 60%
    //   .myDonations
    //     flex-basis: 40%
    @include large-bp
      display: flex
      .myCampaigns
        flex-basis: 70%
      .myDonations
        flex-basis: 500px
        margin-left: 2%
        margin-right: 10%

.myProfile
  h1
    padding: 30px 50px
    font-size: 26px
    font-family: josephin-semiBold

.individualCampaign
  h4
    text-align: center
