.cards
  margin: 20px auto
  margin-top: 100px
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 100%
  .card
    display: flex
    flex-wrap: wrap
    background-color: #fff
    margin: 10px 0
    height: 450px
    width: 98%
    h3
      font-size: 20px
    .cardImage
      height: 250px
      width: 450px
      margin: 0 auto
      border: 1px solid lightgrey
      img
        height: inherit
        width: inherit
    .cardText
      flex-basis: 50%
      padding-left: 10px
    button
      flex-basis: 45%
      margin-right: 5%
  @include medium-bp
    .card
      width: 450px
  @include large-bp
    margin: 30px auto
    justify-content: space-around
    max-width: 1150px
    .card
      margin: 20px
  @include xLarge-bp
    max-width: 1780px
