*, *:before, *::after
  @extend %resetBoxStyling

body
  background-color: #000
  background-image: url("http://www.hpcf.upr.edu/~abel/phl/star_field_full_gal.jpg")
  font-family: openSans

h1
  font-family: josephin-SemiBold

h2
  font-family: josephin-SemiBold
  text-align: center
a
  font-family: josephin-Regular
  color: #bdbdbd
  text-decoration: none

ul
  list-style: none
  li
    padding: 5px
