//images
$heroImage: url("https://d26a57ydsghvgx.cloudfront.net/product/images/customers/charity_water_pouring.jpg")


//Breakpoints
$mediumBp: 'screen and (min-width: 554px)'
$largeBp: 'screen and (min-width: 1000px)'
$xLargeBp: 'screen and (min-width: 1168px)'

//for hamburger

// $xLargeBp: 'screen and (min-width: 1131px)'
