//images
$heroImage: url("https://d26a57ydsghvgx.cloudfront.net/product/images/customers/charity_water_pouring.jpg")


//Breakpoints
$mediumBp: 'screen and (min-width: 640px)'
$largeBp: 'screen and (min-width: 1000px)'
$categoryInlineBp: 'screen and (min-width: 1100px)'
$navFlexBp: 'screen and (min-width: 1180px)'
$xLargeBp: 'screen and (min-width: 1580px)'

//for hamburger

// $xLargeBp: 'screen and (min-width: 1131px)'
