*, *:before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: josephin-regular;
  src: url("../fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: josephin-semiBold;
  src: url("../fonts/JosefinSans-Regular.ttf");
}
body {
  background-color: #000;
  background-image: url("http://www.hpcf.upr.edu/~abel/phl/star_field_full_gal.jpg");
}

a {
  font-family: josephin-semiBold;
  color: #bdbdbd;
  text-decoration: none;
}

header {
  margin: 0 auto;
  height: 100px;
  width: 100%;
  border: 1px solid black;
}

nav {
  background-color: transparent;
  height: 100px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
nav ul {
  width: 35%;
  list-style: none;
  display: flex;
  align-items: center;
}
nav ul li {
  margin: 0 20px;
  font-size: 20px;
}
nav #navLeft {
  justify-content: flex-start;
}
nav #navRight {
  justify-content: flex-end;
}
nav div {
  z-index: 3;
}

section {
  background-color: #f3efeb;
}
section .categories {
  font-family: josephin-semiBold;
  width: 100%;
  margin: 0 auto;
}
section .categories ul {
  width: 90%;
  max-width: 1650px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
section .categories ul li {
  height: 120px;
  width: 120px;
  margin: 20px auto;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section .categories ul li h4 {
  padding: 5px;
  color: #666;
}
section .categories ul li div {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #bbb9b7;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section .categories ul li div img {
  width: 80px;
  height: 80px;
}

.logInContainer {
  width: 100%;
  height: 80vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #16afbd;
}
.logInContainer div {
  text-align: center;
}
.logInContainer #logIn {
  flex-basis: 45%;
}
.logInContainer #signUp {
  flex-basis: 45%;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
footer .footerLogo {
  padding: 10px;
}
footer .footerLogo img {
  height: 80px;
}
footer ul {
  list-style: none;
  display: flex;
  width: 350px;
  justify-content: flex-end;
  align-items: center;
}
footer ul li {
  margin: 10px auto;
  width: 40px;
  text-align: center;
}
footer ul li img {
  width: 30px;
}

.hero {
  width: 100%;
  height: 700px;
}

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.carousel .carousel-item {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-item > a {
  z-index: -1;
  opacity: 0.6;
  display: block;
  transform: translateX(189.5px) translateY(100px) translateX(-200px) translateZ(-200px);
}

input {
  display: block;
  height: 20px;
  width: 90%;
  margin: 10px auto;
}

.cards {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1900px;
}
.cards .card {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 20px;
  height: 400px;
  width: 450px;
  border: 1px solid green;
}
.cards .card .cardImage {
  height: 250px;
  width: 450px;
  border: 1px solid red;
}
.cards .card .cardImage img {
  height: inherit;
  width: inherit;
}
.cards .card .cardText {
  flex-basis: 50%;
  padding-left: 10px;
}
.cards .card button {
  flex-basis: 45%;
  height: 30px;
  margin-right: 5%;
}

/* Smoke container */
#smoke {
  position: absolute;
  z-index: 0;
  height: 60px;
  width: 1px;
  left: 49.5%;
  top: 110px;
}

/* smoke balls */
#smoke span {
  display: block;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -20px;
  height: 0px;
  width: 0px;
  border: 35px solid #fff;
  border-radius: 35px;
  left: -14px;
  opacity: 0;
  transform: scale(0.2);
}

/* Smoke animation */
@keyframes smokeL {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, 5px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(-20px, 150px);
  }
}
@keyframes smokeR {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, 5px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(20px, 150px);
  }
}
#smoke .s0 {
  animation: smokeL 10s 0s infinite;
}
#smoke .s1 {
  animation: smokeR 10s 1s infinite;
}
#smoke .s2 {
  animation: smokeL 10s 2s infinite;
}
#smoke .s3 {
  animation: smokeR 10s 3s infinite;
}
#smoke .s4 {
  animation: smokeL 10s 4s infinite;
}
#smoke .s5 {
  animation: smokeR 10s 5s infinite;
}
#smoke .s6 {
  animation: smokeL 10s 6s infinite;
}
#smoke .s7 {
  animation: smokeR 10s 7s infinite;
}
#smoke .s8 {
  animation: smokeL 10s 8s infinite;
}
#smoke .s9 {
  animation: smokeR 10s 9s infinite;
}

.hero {
  background-image: url("https://d26a57ydsghvgx.cloudfront.net/product/images/customers/charity_water_pouring.jpg");
}

/*# sourceMappingURL=main.css.map */
